@font-face{
    src: url(../FONTS/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto';
}

:root{
    --light1: #eeeeee;
    --blue1: #2b2d42;
    --blue2: #2e3640;
    --blue3: #0e2138;
    --red1: #530f14;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue1);
    color: var(--light1);
}
.wrapper{
    max-width: 80rem;
    margin: 0 auto;
}
/*navigation*/
    nav{
        display: flex;
        justify-content: space-between;
        margin:0 8rem 0 8rem;
    }  

    nav a{
        padding: 2rem;

        line-height: 2rem;
        text-decoration: none;
        color:var(--light1);
        }
    nav a span{
        padding:0 1rem 0 1rem;
    }
/*film img + details*/
.main-box{
    margin:8rem;
    position:relative;
}
.film-box{
    display:flex;
    flex-wrap: wrap;
}
.film-box img{
    border-radius: 19px 19px 0 19px;
}
.movie-details{
    margin:0 4rem;
    font-size: 18px;
}
.movie-details > p{
    margin-top: 0;
    font-size:14px;
}
h1{
     margin-bottom: 0;
}
/* movie score*/
.movie-score{
    position:absolute;
    width: 280px;
    height:100px;
    left: 1.3rem;
    top: 20rem;
    border-radius: 50px 0 0 50px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 50px rgba(18, 21, 61, 0.2);
    color:black;
}
.item11{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self:flex-end
}
.item12{
    grid-row:2/3;
    
}
.item21{
    grid-column:2/2;
    align-self:flex-end
}
.item22{
    grid-row:2/2;
}
.item31{
    align-self:flex-end;
}
.center{
    text-align: center;
}
.square{
    width:24px;
    height:24px;
    background: #51CF66;
    border-radius: 2px;
   
}


/*film description*/
.description{
    margin:2rem 0;
    text-align: justify;
    line-height: 1.75rem;
    font-size:18px;
}

.mobile-off{
    display:none;
    font-size: 14px;
}
/*footer*/
footer{
    padding: 3rem;
}  

    .footer-flex{
        display: flex;
        justify-content: center;
    }
    .footer-flex a{
        display:flex;
        text-decoration: none;
        color: var(--light1);
        margin:0 1rem 0 0;
    }
    
    .footer-flex a:hover{
        text-decoration: underline;
    }

    .footer-item{
        margin:0 0.5rem 0 0;
    }  

@media only screen and (max-device-width: 48em){
    body{
        margin:0;
    }

    nav{
        margin:0;
    }
    .main-box{
        margin:0;
    }
    .film-box img{
        margin: 0;
        width: 100vw;
        object-fit: cover;
        height: 57.5vh;
        opacity:70%;
        border-radius:0;
    }
    .movie-score{
        width:calc(100% - 1.3rem);
        top: 20.5rem;
        background-color: var(--light1);
    }
    .mobile-on{
        display:none;
    }
    .h1{
        margin-top:1rem;
    }
    .description {
        margin: 0.5rem;
        
    }
    .movie-details{
        margin: 1rem;
    }
    .video{
        text-align: center;
        
    }
    .video iframe{
        width:95%;
        height:500px;
    }
    .mobile-off1{
        display:none;
    }
    
    .mobile-off{
    display:flex;
    }
    
}