@font-face{
    src: url(../FONTS/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto';
}
body{
    position:fixed;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    width: 100%;
    height: 95%; 
}

.container{
    background: var(--blue1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
    margin:5rem 1rem;
}

form > input{
    margin: 0 1em 1em 1em;
    padding: 0.5;
    border: 1px solid #31BCE9;
    border-radius: 7px;
    line-height: 3em;
    text-align: center;
    

}

button{
    margin:0 1em 1em 1em;
    padding-left: 0.5em;
    background: #8D99AE;
    border-radius: 8px;
    color:black;
    line-height:3em;
    cursor:pointer;
}
.login-signup-now a {
    color: #8D99AE;;
    text-decoration: none;
}

.login-signup-now :hover {
    text-decoration: underline;
}
    
/* Footer */
footer{
    padding: 3rem;
}  

    .footer-flex{
        display: flex;
        justify-content: center;
    }
    .footer-flex a{
        display:flex;
        text-decoration: none;
        color:var(--light1);
        margin:0 1rem 0 0;

    }
    .footer-item{
        margin:0 0.5rem 0 0;
    }
    .footer-item:hover{
        text-decoration: underline;
    }
    
@media only screen and (max-device-width:48em){
    .container{
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    form:first-child{
        margin-top:2rem;
    }
    body{
        font-size: 48px;
    }
    .logo>img{
       width:15em;   
    }
    button,form>input{
        font-size: 1em;
        border-radius: 2em;
    }
    .login-signup-now{
        margin-bottom:1rem;
        text-align: center;
    }
    .mobile-off{
        display:none;
    }
    .footer-flex a{
        margin-right:4rem;
    }
}