/* Styles for main page*/
body {
    font-family: helvetica;}
#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;}
.navbar{width:100%;overflow:hidden}
.navcolor{color:#000!important;background-color:#2BC1F2!important}
.navbutton{
    border:none;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none!important;
    color:#fff;background-color:#000;
    text-align:center;cursor:pointer;white-space:nowrap}
.navitem{
    padding:8px 16px;
    float:left;
    background-color:inherit;color:inherit;
    width:auto;border:none;outline:none;display:block}
.section{padding:0.01em 16px}
.content{max-width:980px;margin:auto}
.center{text-align:center!important}
.justify{text-align:justify!important}
.custompadding{
    padding-top:64px!important;
    padding-bottom:64px!important}
.large{font-size:24px!important}
.medium{font-size:15px!important}
.large{font-size:18px!important}

/* Style for team page*/
.iconDetails {
    margin-left:2%;
    float:left;
    height:120px;
    width:auto;}

/* Style for contact page*/
#contact_main{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   /* border: 5px solid #FFFF00;*/
    padding: 10px;  }
#contact_form{
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    padding:0 50px 15px;
    margin-top:20px;
    box-shadow:0 0 15px;
    border-radius:6px;}
label{
    float:left;
    font-size:16px}
input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2}
textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none}